.login-heading {
  text-align: center;
}

.signup-heading {
  text-align: center;
}

.login-btn {
  width: 200px !important;
}
.signup-btn {
  width: 200px !important;
}
.login-container {
  height: 100%;
  width: 100%;
  background-color: aqua;
}
