.navbar {
  background-color: #2b2d42;
  color: white;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}
.nav-btn {
  /* margin: 10px; */
  display: flex;
  margin: 5px;
  gap: 15px;
}
