.auth-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.signup-page {
  background: url("https://images.unsplash.com/photo-1568605114967-8130f3a36994?auto=format&fit=crop&w=1470&q=80")
    no-repeat center center/cover;
}

.auth-box {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 20px;
  width: 380px;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.auth-box h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}

.subtitle {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 18px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #fff;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.auth-btn {
  width: 100%;
  background-color: #00b894;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.auth-btn:hover {
  background-color: #019270;
}

.footer-text {
  margin-top: 20px;
  color: #ddd;
}

.auth-link {
  color: #00b894;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}
